<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage.css">
    <link rel="stylesheet" href="userPage.css">
    <title>Document</title>
</head>
<body>
<header>
    <div id="logo">
        <h1><a style="color:red; margin: 20px; text-decoration: none" href="/">Fletnix</a> </h1>
    </div>
    <div id="navber">
        <a href="#">❤️ Favourites</a>
        <a href="#">🎞️ Watched</a>
    </div>
</header>

<section id="user-details">
    <p id="name">Hey! Nayeem </p>
    <p id="extention">It's all your's . . .</p>
</section>

<section  class="movie-section">

    <div class="movies">

        <div class="movie">
            <div class="front">
                <img src="image/movie-poster/Shawsank_Redemption.jpg" alt="">
            </div>
            <div class="back">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>

        <div class="movie">
            <div class="front">
                <img src="image/movie-poster/Sutter-Island.jpg" alt="">
            </div>
            <div class="back">
                <p>Lorem ipsum dolor sit amet.</p>
                <a style="color: red" href="#">Watch</a>
            </div>
        </div>

        <div class="movie">
            <div class="front">
                <img src="image/movie-poster/Forrest-Gump.jpg" alt="">
            </div>
            <div class="back">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>

        <div class="movie">
            <div class="front">
                <img src="image/movie-poster/Titanic.jpg" alt="">
            </div>
            <div class="back">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>

        <div class="movie">
            <div class="front">
                <img src="image/movie-poster/Inception.jpg" alt="">
            </div>
            <div class="back">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>

        <div class="movie">
            <div class="front">
                <img src="image/movie-poster/Shawsank_Redemption.jpg" alt="">
            </div>
            <div class="back">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>

        <div class="movie">
            <div class="front">
                <img src="image/movie-poster/Shawsank_Redemption.jpg" alt="">
            </div>
            <div class="back">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>

        <div class="movie">
            <div class="front">
                <img src="image/movie-poster/Shawsank_Redemption.jpg" alt="">
            </div>
            <div class="back">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>

        <div class="movie">
            <div class="front">
                <img src="image/movie-poster/Shawsank_Redemption.jpg" alt="">
            </div>
            <div class="back">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>

    </div>

</section>

</body>
</html>